.cimecske{
    font-size: 200%;
    font-family: "Mogra";
}
.kep{
    height: 300px;
}
.leirasSzoveg{
    text-align: justify;
}
.kartya{
    border:1px solid blue;
    box-shadow: 3px 3px;
    border-radius: 3px;
    margin:10px;
    padding:10px;
    height: 500px;
}

